td {
    min-width: 200px;
}

.section {
    padding: 2rem 2rem;
}

/* set a max width for table size so it doesn't get too large */

@media (min-width: 1341px) {
    .table-container {
        overflow: none;
        overflow-y: none;
    }

    .table-container td {
        min-width: 100%;
    }
}